In [1]:
import pandas as pd
import FinanceDataReader as fdr
import statsmodels.api as sm
import seaborn as sns
from datetime import datetime

In [3]:
df_krx = fdr.StockListing('KRX')
df_krx

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,62800,2,-200,-0.32,62600,63000,62400,9382576,587897501100,374902344140000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,542000,2,-8000,-1.45,547000,548000,535000,260831,141170994000,126828000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,93500,2,-900,-0.95,94300,94700,93100,1971090,185026575400,68068221127500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,808000,2,-6000,-0.74,809000,811000,802000,34509,27825320000,57508592000000,71174000,STK
4,006400,KR7006400006,삼성SDI,KOSPI,,735000,2,-3000,-0.41,727000,736000,718000,198917,144721499000,50541929550000,68764530,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2694,267810,KR7267810000,앙츠,KONEX,일반기업부,1093,0,0,0.00,0,0,0,0,0,1953191000,1787000,KNX
2695,215050,KR7215050006,비엔디생활건강,KONEX,일반기업부,912,0,0,0.00,0,0,0,0,0,1934959392,2121666,KNX
2696,267060,KR7267060002,명진홀딩스,KONEX,일반기업부,181,0,0,0.00,0,0,0,0,0,1654666524,9141804,KNX
2697,308700,KR7308700004,테크엔,KONEX,일반기업부,405,1,18,4.65,445,445,347,102,43292,1620000000,4000000,KNX
2698,322190,KR7322190000,베른,KONEX,일반기업부,103,3,0,0.00,103,113,95,2125,210246,919295291,8925197,KNX

In [ ]:
# 2022.12.22 펜오션

In [3]:
STOCK_CODE = '028670'
stock_price = fdr.DataReader(STOCK_CODE, '2022.12','2023.1')

In [4]:
temp_stock_price = stock_price.reset_index()

In [5]:
temp_stock_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    21 non-null     datetime64[ns]
 1   Open    21 non-null     int64
 2   High    21 non-null     int64
 3   Low     21 non-null     int64
 4   Close   21 non-null     int64
 5   Volume  21 non-null     int64
 6   Change  21 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(5)
memory usage: 1.3 KB

In [17]:
pre_price = temp_stock_price.query('Date <= 20221222').iloc[-8:-1,:].filter(items =['Date','Close'])
target_price = temp_stock_price.query('Date == 20221222').filter(items = ['Date','Open'])

In [18]:
pre_price = pre_price.rename(columns={'Close': 'Price'})
target_price = target_price.rename(columns={'Open': 'Price'})

In [19]:
df = pd.concat([pre_price,target_price]).reset_index(drop=True)

In [20]:
df['change'] = df['Price'].pct_change()

In [22]:
df.dropna()

        Date  Price    change
1 2022-12-14   5640 -0.001770
2 2022-12-15   5590 -0.008865
3 2022-12-16   5880  0.051878
4 2022-12-19   5880  0.000000
5 2022-12-20   5690 -0.032313
6 2022-12-21   5800  0.019332
7 2022-12-22   5920  0.020690