In [1]:
import requests
import json
import pandas as pd
import FinanceDataReader as fdr
import statsmodels.api as sm
import seaborn as sns
from datetime import datetime

In [2]:
df_krx = fdr.StockListing('KRX')

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,060310,KR7060310000,3S,KOSDAQ,중견기업부,-,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48536642,KSQ
1,095570,KR7095570008,AJ네트웍스,KOSPI,,-,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46822295,STK
2,006840,KR7006840003,AK홀딩스,KOSPI,,-,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13247561,STK
3,054620,KR7054620000,APS홀딩스,KOSDAQ,중견기업부,-,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20394221,KSQ
4,265520,KR7265520007,AP시스템,KOSDAQ,우량기업부,-,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15281421,KSQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2696,000547,KR7000542001,흥국화재2우B,KOSPI,,-,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153600,STK
2697,000545,KR7000541003,흥국화재우,KOSPI,,-,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,768000,STK
2698,003280,KR7003280005,흥아해운,KOSPI,,-,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240424899,STK
2699,037440,KR7037440005,희림,KOSDAQ,우량기업부,-,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13922475,KSQ
2700,238490,KR7238490007,힘스,KOSDAQ,우량기업부,-,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11312236,KSQ

In [ ]:
# 2022.12.22 펜오션

In [3]:
STOCK_CODE = '028670'
stock_price = fdr.DataReader(STOCK_CODE, '2022.12','2023.1')

In [6]:
stock_price.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2022-12-01 to 2022-12-29
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    21 non-null     int64
 1   High    21 non-null     int64
 2   Low     21 non-null     int64
 3   Close   21 non-null     int64
 4   Volume  21 non-null     int64
 5   Change  21 non-null     float64
dtypes: float64(1), int64(5)
memory usage: 1.1 KB

In [7]:
temp_stock_price = stock_price.reset_index()

In [10]:
temp_stock_price

         Date  Open  High   Low  Close   Volume    Change
0  2022-12-01  5470  5480  5260   5420  2655580  0.005566
1  2022-12-02  5370  5450  5310   5450  1801215  0.005535
2  2022-12-05  5450  5730  5360   5670  4212153  0.040367
3  2022-12-06  5680  5750  5490   5520  2538317 -0.026455
4  2022-12-07  5510  5580  5360   5480  1634590 -0.007246
5  2022-12-08  5430  5700  5390   5680  3348384  0.036496
6  2022-12-09  5720  5980  5680   5950  6280793  0.047535
7  2022-12-12  5890  5970  5710   5730  3107280 -0.036975
8  2022-12-13  5720  5770  5510   5650  3483658 -0.013962
9  2022-12-14  5650  5710  5600   5640  1954809 -0.001770
10 2022-12-15  5640  5800  5590   5590  2768722 -0.008865
11 2022-12-16  5590  5900  5490   5880  4390088  0.051878
12 2022-12-19  5810  5980  5790   5880  2948409  0.000000
13 2022-12-20  5840  5870  5610   5690  2945356 -0.032313
14 2022-12-21  5750  5860  5720   5800  2226069  0.019332
15 2022-12-22  5920  6200  5870   6170  8874533  0.063793
16 2022-12-23  6100  6170  6020   6030  3529549 -0.022690
17 2022-12-26  5980  6030  5850   5890  2533807 -0.023217
18 2022-12-27  5900  6020  5880   5970  2363742  0.013582
19 2022-12-28  5880  5910  5730   5890  2299003 -0.013400
20 2022-12-29  5880  5880  5710   5730  2155042 -0.027165

In [17]:
pre_price = temp_stock_price.query('Date <= 20221222').iloc[-8:-1,:].filter(items =['Date','Close'])
target_price = temp_stock_price.query('Date == 20221222').filter(items = ['Date','Open'])

In [18]:
pre_price = pre_price.rename(columns={'Close': 'Price'})
target_price = target_price.rename(columns={'Open': 'Price'})

In [19]:
df = pd.concat([pre_price,target_price]).reset_index(drop=True)

In [20]:
df['change'] = df['Price'].pct_change()

In [22]:
df.dropna()

        Date  Price    change
1 2022-12-14   5640 -0.001770
2 2022-12-15   5590 -0.008865
3 2022-12-16   5880  0.051878
4 2022-12-19   5880  0.000000
5 2022-12-20   5690 -0.032313
6 2022-12-21   5800  0.019332
7 2022-12-22   5920  0.020690

In [3]:
#한국투자 API 보안 인증키 발급 
APP_KEY = "PSDbkNNrIX3j60cW2MEFnBGZDZ1BzpgDxvC0"
APP_SECRET = "QfaZRX24K15ojO4yjG5o5dM+SUvJT4PYiK+tKKzgikyhmfrnTXoxOwn9rCf2hzXdtOhh4v3/O4bSFfQgS+u6ojdb6KgWuyub4GRraoWYaJTJyHSRqWUPab2GiCvrI/aIjx5S925MohrETq0k/eopFHgMInG0lmZdAh5TaegaZ1NDpNvPW8Y="
URL_BASE = "https://openapi.koreainvestment.com:9443"
PATH = "oauth2/tokenP"
URL = f"{URL_BASE}/{PATH}"

headers = {"content-type":"application/json"}
body = {"grant_type":"client_credentials",
        "appkey":APP_KEY, 
        "appsecret":APP_SECRET}

res = requests.post(URL, headers=headers, data=json.dumps(body))
ACCESS_TOKEN = res.json()["access_token"]

In [39]:
ACCESS_TOKEN

'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6IjhjOTZlNDA5LTQ1MTEtNDAyMy05MjEyLWQxNzY0ZmZjNGNmZSIsImlzcyI6InVub2d3IiwiZXhwIjoxNjc2MjQ5MTY2LCJpYXQiOjE2NzYxNjI3NjYsImp0aSI6IlBTRGJrTk5ySVgzajYwY1cyTUVGbkJHWkRaMUJ6cGdEeHZDMCJ9.LjSCjPZIWj2YRlkpMaL9D2L4r5ALusnlAZi1-cnTYJl1vkh0KFSiDFrLTBKyKac3oxtFLwHt4xNxaPihDpTPkA'

In [12]:
json.dumps(body)

'{"grant_type": "client_credentials", "appkey": "PSDbkNNrIX3j60cW2MEFnBGZDZ1BzpgDxvC0", "appsecret": "QfaZRX24K15ojO4yjG5o5dM+SUvJT4PYiK+tKKzgikyhmfrnTXoxOwn9rCf2hzXdtOhh4v3/O4bSFfQgS+u6ojdb6KgWuyub4GRraoWYaJTJyHSRqWUPab2GiCvrI/aIjx5S925MohrETq0k/eopFHgMInG0lmZdAh5TaegaZ1NDpNvPW8Y="}'

In [26]:
#예제 삼성전자 주가 정보 받아오기
URL = 'https://openapi.koreainvestment.com:9443/uapi/domestic-stock/v1/quotations/inquire-price'

headers = {"Content-Type":"application/json", 
           "authorization": f"Bearer {ACCESS_TOKEN}",
           "appKey":APP_KEY,
           "appSecret":APP_SECRET,
           "tr_id":"FHKST01010100"}

params = {
    "fid_cond_mrkt_div_code":"J",
    "fid_input_iscd":"005930"
}

res = requests.get(URL, headers=headers, params=params)

In [35]:
#예제 삼성전자 주가 정보 받아오기 
URL = "https://openapi.koreainvestment.com:9443/uapi/domestic-stock/v1/quotations/search-info"

headers = {"Content-Type":"application/json", 
           "authorization": f"Bearer {ACCESS_TOKEN}",
           "appKey":APP_KEY,
           "appSecret":APP_SECRET,
           "tr_id":"FHKST01010100"}
params = {
    "fid_cond_mrkt_div_code":"J",
    "fid_input_iscd":"005930"
}

res = requests.get(URL, headers=headers, params=params)

In [37]:
res

In [49]:
#예제 삼성전자 기본정보 받아오기 
URL = 'https://openapi.koreainvestment.com:9443/uapi/domestic-stock/v1/quotations/inquire-price'

headers = {"Content-Type":"application/json", 
           "authorization": f"Bearer {ACCESS_TOKEN}",
           "appKey":APP_KEY,
           "appSecret":APP_SECRET,
           "tr_id":"CTPF1604R"}

params = {
    "PDNO":"005930",
    "PRDT_TYPE_CD":"300"
}

res = requests.get(URL, headers=headers, params=params)

In [63]:
'''코스피주식종목코드(kospi_code.mst) 정제 파이썬 파일'''

import urllib.request
import ssl
import zipfile
import os
import pandas as pd

base_dir = os.getcwd()

def kospi_master_download(base_dir, verbose=False):
    cwd = os.getcwd()
    if (verbose): print(f"current directory is {cwd}")
    ssl._create_default_https_context = ssl._create_unverified_context

    urllib.request.urlretrieve("https://new.real.download.dws.co.kr/common/master/kospi_code.mst.zip",
                               base_dir + "\\kospi_code.zip")

    os.chdir(base_dir)
    if (verbose): print(f"change directory to {base_dir}")
    kospi_zip = zipfile.ZipFile('kospi_code.zip')
    kospi_zip.extractall()

    kospi_zip.close()

    if os.path.exists("kospi_code.zip"):
        os.remove("kospi_code.zip")


def get_kospi_master_dataframe(base_dir):
    file_name = base_dir + "\\kospi_code.mst"
    tmp_fil1 = base_dir + "\\kospi_code_part1.tmp"
    tmp_fil2 = base_dir + "\\kospi_code_part2.tmp"

    wf1 = open(tmp_fil1, mode="w")
    wf2 = open(tmp_fil2, mode="w")

    with open(file_name, mode="r", encoding="cp949") as f:
        for row in f:
            rf1 = row[0:len(row) - 228]
            rf1_1 = rf1[0:9].rstrip()
            rf1_2 = rf1[9:21].rstrip()
            rf1_3 = rf1[21:].strip()
            wf1.write(rf1_1 + ',' + rf1_2 + ',' + rf1_3 + '\n')
            rf2 = row[-228:]
            wf2.write(rf2)

    wf1.close()
    wf2.close()

    part1_columns = ['단축코드', '표준코드', '한글명']
    df1 = pd.read_csv(tmp_fil1, header=None, names=part1_columns, encoding='UTF8')

    field_specs = [2, 1, 4, 4, 4,
                   1, 1, 1, 1, 1,
                   1, 1, 1, 1, 1,
                   1, 1, 1, 1, 1,
                   1, 1, 1, 1, 1,
                   1, 1, 1, 1, 1,
                   1, 9, 5, 5, 1,
                   1, 1, 2, 1, 1,
                   1, 2, 2, 2, 3,
                   1, 3, 12, 12, 8,
                   15, 21, 2, 7, 1,
                   1, 1, 1, 1, 9,
                   9, 9, 5, 9, 8,
                   9, 3, 1, 1, 1
                   ]

    part2_columns = ['그룹코드', '시가총액규모', '지수업종대분류', '지수업종중분류', '지수업종소분류',
                     '제조업', '저유동성', '지배구조지수종목', 'KOSPI200섹터업종', 'KOSPI100',
                     'KOSPI50', 'KRX', 'ETP', 'ELW발행', 'KRX100',
                     'KRX자동차', 'KRX반도체', 'KRX바이오', 'KRX은행', 'SPAC',
                     'KRX에너지화학', 'KRX철강', '단기과열', 'KRX미디어통신', 'KRX건설',
                     'Non1', 'KRX증권', 'KRX선박', 'KRX섹터_보험', 'KRX섹터_운송',
                     'SRI', '기준가', '매매수량단위', '시간외수량단위', '거래정지',
                     '정리매매', '관리종목', '시장경고', '경고예고', '불성실공시',
                     '우회상장', '락구분', '액면변경', '증자구분', '증거금비율',
                     '신용가능', '신용기간', '전일거래량', '액면가', '상장일자',
                     '상장주수', '자본금', '결산월', '공모가', '우선주',
                     '공매도과열', '이상급등', 'KRX300', 'KOSPI', '매출액',
                     '영업이익', '경상이익', '당기순이익', 'ROE', '기준년월',
                     '시가총액', '그룹사코드', '회사신용한도초과', '담보대출가능', '대주가능'
                     ]

    df2 = pd.read_fwf(tmp_fil2, widths=field_specs, names=part2_columns)

    df = pd.merge(df1, df2, how='outer', left_index=True, right_index=True)

    # clean temporary file and dataframe
    del (df1)
    del (df2)
    os.remove(tmp_fil1)
    os.remove(tmp_fil2)
    
    print("Done")

    return df


kospi_master_download(base_dir)
df = get_kospi_master_dataframe(base_dir) 

#df3 = df[df['KRX증권'] == 'Y']
df3 = df
# print(df3[['단축코드', '한글명', 'KRX', 'KRX증권', '기준가', '증거금비율', '상장일자', 'ROE']])
df3.to_csv('kospi_code.csv',index=False, encoding='utf-8-sig')# 현재 위치에 엑셀파일로 저장

Done

In [65]:
Kospi_df = pd.read_csv('./kospi_code.csv')

In [67]:
'''코스닥주식종목코드(kosdaq_code.mst) 정제 파이썬 파일'''

import pandas as pd
import urllib.request
import ssl
import zipfile
import os

base_dir = os.getcwd()

def kosdaq_master_download(base_dir, verbose=False):

    cwd = os.getcwd()
    if (verbose): print(f"current directory is {cwd}")
    ssl._create_default_https_context = ssl._create_unverified_context
    
    urllib.request.urlretrieve("https://new.real.download.dws.co.kr/common/master/kosdaq_code.mst.zip",
                               base_dir + "\\kosdaq_code.zip")

    os.chdir(base_dir)
    if (verbose): print(f"change directory to {base_dir}")
    kosdaq_zip = zipfile.ZipFile('kosdaq_code.zip')
    kosdaq_zip.extractall()
    
    kosdaq_zip.close()

    if os.path.exists("kosdaq_code.zip"):
        os.remove("kosdaq_code.zip")

def get_kosdaq_master_dataframe(base_dir):
    file_name = base_dir + "\\kosdaq_code.mst"
    tmp_fil1 = base_dir + "\\kosdaq_code_part1.tmp"
    tmp_fil2 = base_dir + "\\kosdaq_code_part2.tmp"

    wf1 = open(tmp_fil1, mode="w")
    wf2 = open(tmp_fil2, mode="w")

    with open(file_name, mode="r", encoding="cp949") as f:
        for row in f:
            rf1 = row[0:len(row) - 222]
            rf1_1 = rf1[0:9].rstrip()
            rf1_2 = rf1[9:21].rstrip()
            rf1_3 = rf1[21:].strip()
            wf1.write(rf1_1 + ',' + rf1_2 + ',' + rf1_3 + '\n')
            rf2 = row[-222:]
            wf2.write(rf2)

    wf1.close()
    wf2.close()

    part1_columns = ['단축코드','표준코드','한글종목명']
    df1 = pd.read_csv(tmp_fil1, header=None, names=part1_columns, encoding='UTF8')

    field_specs = [2, 1,
                   4, 4, 4, 1, 1,
                   1, 1, 1, 1, 1,
                   1, 1, 1, 1, 1,
                   1, 1, 1, 1, 1,
                   1, 1, 1, 1, 9,
                   5, 5, 1, 1, 1,
                   2, 1, 1, 1, 2,
                   2, 2, 3, 1, 3,
                   12, 12, 8, 15, 21,
                   2, 7, 1, 1, 1,
                   1, 9, 9, 9, 5,
                   9, 8, 9, 3, 1,
                   1, 1
                   ]

    part2_columns = ['증권그룹구분코드','시가총액 규모 구분 코드 유가',
                     '지수업종 대분류 코드','지수 업종 중분류 코드','지수업종 소분류 코드','벤처기업 여부 (Y/N)',
                     '저유동성종목 여부','KRX 종목 여부','ETP 상품구분코드','KRX100 종목 여부 (Y/N)',
                     'KRX 자동차 여부','KRX 반도체 여부','KRX 바이오 여부','KRX 은행 여부','기업인수목적회사여부',
                     'KRX 에너지 화학 여부','KRX 철강 여부','단기과열종목구분코드','KRX 미디어 통신 여부',
                     'KRX 건설 여부','(코스닥)투자주의환기종목여부','KRX 증권 구분','KRX 선박 구분',
                     'KRX섹터지수 보험여부','KRX섹터지수 운송여부','KOSDAQ150지수여부 (Y,N)','주식 기준가',
                     '정규 시장 매매 수량 단위','시간외 시장 매매 수량 단위','거래정지 여부','정리매매 여부',
                     '관리 종목 여부','시장 경고 구분 코드','시장 경고위험 예고 여부','불성실 공시 여부',
                     '우회 상장 여부','락구분 코드','액면가 변경 구분 코드','증자 구분 코드','증거금 비율',
                     '신용주문 가능 여부','신용기간','전일 거래량','주식 액면가','주식 상장 일자','상장 주수(천)',
                     '자본금','결산 월','공모 가격','우선주 구분 코드','공매도과열종목여부','이상급등종목여부',
                     'KRX300 종목 여부 (Y/N)','매출액','영업이익','경상이익','단기순이익','ROE(자기자본이익률)',
                     '기준년월','전일기준 시가총액 (억)','그룹사 코드','회사신용한도초과여부','담보대출가능여부','대주가능여부'
                     ]

    df2 = pd.read_fwf(tmp_fil2, widths=field_specs, names=part2_columns)

    df = pd.merge(df1, df2, how='outer', left_index=True, right_index=True)

    # clean temporary file and dataframe
    del (df1)
    del (df2)
    os.remove(tmp_fil1)
    os.remove(tmp_fil2)

    print("Done")

    return df

kosdaq_master_download(base_dir)
df = get_kosdaq_master_dataframe(base_dir)

df.to_csv('kosdaq_code.csv',index=False, encoding='utf-8-sig')  # 현재 위치에 엑셀파일로 저장

Done

In [69]:
Kosdaq_df = pd.read_csv('./kosdaq_code.csv')

In [75]:
kosdaq = Kosdaq_df.filter(items= ['단축코드','한글종목명'])

In [79]:
kospi = Kospi_df.filter(items= ['단축코드','한글명'])

In [82]:
Kospi_df = pd.read_csv('./kospi_code.csv')
Kosdaq_df = pd.read_csv('./kosdaq_code.csv')
kospi = Kospi_df.filter(items= ['단축코드','한글명'])
kosdaq = Kosdaq_df.filter(items= ['단축코드','한글종목명'])

       단축코드   한글명
377  005930  삼성전자

In [25]:
#예제 시간외일자별 주가
URL = 'https://openapi.koreainvestment.com:9443/uapi/domestic-stock/v1/quotations/inquire-daily-overtimeprice'

headers = {"Content-Type":"application/json", 
           "authorization": f"Bearer {ACCESS_TOKEN}",
           "appKey":APP_KEY,
           "appSecret":APP_SECRET,
           "tr_id":"FHPST02320000",
           "tr_cont":"F"}

params = {
    "FID_COND_MRKT_DIV_CODE":"J",
    "FID_INPUT_ISCD":"005930"
}

res = requests.get(URL, headers=headers, params=params)

In [30]:
#예제 삼성전자 일시세
URL = 'https://openapi.koreainvestment.com:9443/uapi/domestic-stock/v1/quotations/inquire-daily-itemchartprice'

headers = {"Content-Type":"application/json", 
           "authorization": f"Bearer {ACCESS_TOKEN}",
           "appKey":APP_KEY,
           "appSecret":APP_SECRET,
           "tr_id":"FHKST03010100",
           "tr_cont":"Y",
           }

params = {
    "FID_COND_MRKT_DIV_CODE":"J",
    "FID_INPUT_ISCD":"005930",
    "FID_INPUT_DATE_1" : "20230210",
    "FID_INPUT_DATE_2" : "20230210",
    "FID_PERIOD_DIV_CODE" : "D",
    "FID_ORG_ADJ_PRC" : "1"
}

res = requests.get(URL, headers=headers, params=params)

In [31]:
res.json()

{'output1': {'prdy_vrss': '-200',
  'prdy_vrss_sign': '5',
  'prdy_ctrt': '-0.32',
  'stck_prdy_clpr': '63000',
  'acml_vol': '9382576',
  'acml_tr_pbmn': '587897501100',
  'hts_kor_isnm': '삼성전자',
  'stck_prpr': '62800',
  'stck_shrn_iscd': '005930',
  'prdy_vol': '12164865',
  'stck_mxpr': '81900',
  'stck_llam': '44100',
  'stck_oprc': '62600',
  'stck_hgpr': '63000',
  'stck_lwpr': '62400',
  'stck_prdy_oprc': '63000',
  'stck_prdy_hgpr': '63300',
  'stck_prdy_lwpr': '62300',
  'askp': '62800',
  'bidp': '62700',
  'prdy_vrss_vol': '-2782289',
  'vol_tnrt': '0.16',
  'stck_fcam': '100',
  'lstn_stcn': '5969782550',
  'cpfn': '7780',
  'hts_avls': '3749023',
  'per': '10.87',
  'eps': '5777.00',
  'pbr': '1.44',
  'itewhol_loan_rmnd_ratem name': '0.08'},
 'output2': [{'stck_bsop_date': '20230210',
   'stck_clpr': '62800',
   'stck_oprc': '62600',
   'stck_hgpr': '63000',
   'stck_lwpr': '62400',
   'acml_vol': '9382576',
   'acml_tr_pbmn': '587897501100',
   'flng_cls_code': '00',
   'prtt_rate': '0.00',
   'mod_yn': 'N',
   'prdy_vrss_sign': '5',
   'prdy_vrss': '-200',
   'revl_issu_reas': ''}],
 'rt_cd': '0',
 'msg_cd': 'MCA00000',
 'msg1': '정상처리 되었습니다.'}

In [37]:
#예제 삼성전자 현재가호가/예상체결
URL = 'https://openapi.koreainvestment.com:9443//uapi/domestic-stock/v1/quotations/inquire-asking-price-exp-ccn'

headers = {"Content-Type":"application/json", 
           "authorization": f"Bearer {ACCESS_TOKEN}",
           "appKey":APP_KEY,
           "appSecret":APP_SECRET,
           "tr_id":"FHKST01010200",
           "tr_cont":"Y",
           }

params = {
    "FID_COND_MRKT_DIV_CODE":"J",
    "FID_INPUT_ISCD":"005930",
    "FID_INPUT_DATE_1" : "20230210",
    "FID_INPUT_DATE_2" : "20230210",
}

res = requests.get(URL, headers=headers, params=params)

In [38]:
res.json()

{'output1': {'aspr_acpt_hour': '160000',
  'askp1': '62800',
  'askp2': '62900',
  'askp3': '63000',
  'askp4': '63100',
  'askp5': '63200',
  'askp6': '63300',
  'askp7': '63400',
  'askp8': '63500',
  'askp9': '63600',
  'askp10': '63700',
  'bidp1': '62700',
  'bidp2': '62600',
  'bidp3': '62500',
  'bidp4': '62400',
  'bidp5': '62300',
  'bidp6': '62200',
  'bidp7': '62100',
  'bidp8': '62000',
  'bidp9': '61900',
  'bidp10': '61800',
  'askp_rsqn1': '94265',
  'askp_rsqn2': '69965',
  'askp_rsqn3': '152671',
  'askp_rsqn4': '88298',
  'askp_rsqn5': '37180',
  'askp_rsqn6': '57763',
  'askp_rsqn7': '56309',
  'askp_rsqn8': '120371',
  'askp_rsqn9': '26389',
  'askp_rsqn10': '33103',
  'bidp_rsqn1': '59669',
  'bidp_rsqn2': '29477',
  'bidp_rsqn3': '173329',
  'bidp_rsqn4': '312396',
  'bidp_rsqn5': '127304',
  'bidp_rsqn6': '90019',
  'bidp_rsqn7': '92584',
  'bidp_rsqn8': '197497',
  'bidp_rsqn9': '39493',
  'bidp_rsqn10': '33334',
  'askp_rsqn_icdc1': '0',
  'askp_rsqn_icdc2': '0',
  'askp_rsqn_icdc3': '0',
  'askp_rsqn_icdc4': '0',
  'askp_rsqn_icdc5': '0',
  'askp_rsqn_icdc6': '0',
  'askp_rsqn_icdc7': '0',
  'askp_rsqn_icdc8': '0',
  'askp_rsqn_icdc9': '0',
  'askp_rsqn_icdc10': '0',
  'bidp_rsqn_icdc1': '0',
  'bidp_rsqn_icdc2': '0',
  'bidp_rsqn_icdc3': '0',
  'bidp_rsqn_icdc4': '0',
  'bidp_rsqn_icdc5': '0',
  'bidp_rsqn_icdc6': '0',
  'bidp_rsqn_icdc7': '0',
  'bidp_rsqn_icdc8': '0',
  'bidp_rsqn_icdc9': '0',
  'bidp_rsqn_icdc10': '0',
  'total_askp_rsqn': '736314',
  'total_bidp_rsqn': '1155102',
  'total_askp_rsqn_icdc': '0',
  'total_bidp_rsqn_icdc': '0',
  'ovtm_total_askp_icdc': '0',
  'ovtm_total_bidp_icdc': '0',
  'ovtm_total_askp_rsqn': '22191',
  'ovtm_total_bidp_rsqn': '0',
  'ntby_aspr_rsqn': '418788',
  'new_mkop_cls_code': '31'},
 'output2': {'antc_mkop_cls_code': '112',
  'stck_prpr': '62800',
  'stck_oprc': '62600',
  'stck_hgpr': '63000',
  'stck_lwpr': '62400',
  'stck_sdpr': '63000',
  'antc_cnpr': '62800',
  'antc_cntg_vrss_sign': '5',
  'antc_cntg_vrss': '-200',
  'antc_cntg_prdy_ctrt': '-0.32',
  'antc_vol': '440580',
  'stck_shrn_iscd': '005930',
  'vi_cls_code': 'N'},
 'rt_cd': '0',
 'msg_cd': 'MCA00000',
 'msg1': '정상처리 되었습니다.'}